$row-height: 40px;
$fancy-checkbox-active-border: 3px dotted #DDD;
$fancy-checkbox-font-size: 1.3em;
$unchecked-text: '😴';
$checked-text: '😃';

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} { @content; }
  @-moz-keyframes #{$name} { @content; }
  @-ms-keyframes #{$name} { @content; }
  @keyframes #{$name} { @content; } 
}

@mixin animation($prop) {
  -webkit-animation: $prop;
  -moz-animation: $prop;
  -o-animation: $prop;
  animation: $prop;
}

@mixin transform($transforms) {
     -moz-transform: $transforms;
       -o-transform: $transforms;
      -ms-transform: $transforms;
  -webkit-transform: $transforms;
          transform: $transforms;
}

@include keyframes(rotate) {
  100% { @include transform(rotate(360deg)) }
}

.row {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
}

.item-row {
  height: $row-height;
  margin: 10px 0px;
  
  .title {}
  
  .filler {
    flex-grow: 1;
  }

  .fancy-checkbox {
    height: 100%;
    max-width: $row-height;
    min-width: $row-height;
    font-size: $fancy-checkbox-font-size;

    label {
      display: flex;
      align-items: center;
      height: 100%;
      width: 100%;
      position: relative;
      border-radius: 100px;
      background-color: #124559;
      justify-content: center;
      cursor: pointer;
      
      .text {
        position: absolute;
        color: white;
        
        &:after {
          content: $unchecked-text;
        }
      }

      &:after {
        transform-origin: 50% 50%;
        @include transform(translate(50%, 100%));
        display: block;
        color: #FFF;
      }
      &:hover:after {
        font-weight: 800;
      }
    }

    input:checked + label {
      background-color: #EF8354;
      
      .spinner {
        box-sizing: border-box;
        height: 100%;
        width: 100%;
        border: $fancy-checkbox-active-border;
        border-radius: 100px;
        background-color: rgba(0,0,0,0);
        @include animation(rotate 8s linear infinite);
      }
      
      .text:after {
        content: $checked-text;
      }
    }

    input { 
      display: none;
    }
  }
}


